.checkbox-container {
  display: flex;
  align-items: center;
  > input {

  }
  > label {
    flex: 1;
    padding: 0 5px 2px;
    margin: 0;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
    }
  }
}