.recipe-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 80vw;
  min-width: 300px;
  max-width: 1200px;

  h3 {
    color: #840;
  }
  .form-header {
    display: flex;
    align-items: center;
    &.button-header {
      justify-content: space-between;
    }

    .header-text {
      flex: 1;
      padding-right: 15px;
    }
  }

  .label-bar {
    display: flex;
    align-items: center;
    > label {
      flex: 1;
    }

    .collapse-icon {
      width: 20px;
      height: 20px;
      margin-top: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-content: center;
      color: #630;
      border-radius: 50%;
      &:hover {
        background-color: #fff8f0;
      }
      &:after {
        font-family: Fontawesome;
        content: '\f077';
        font-size: 13px;
      }
      &.collapsed:after {
        content: '\f078';
      }
    }
  }

  label.recipe-label {
    display: block;
    color: #630;
    font-weight: bold;
    margin: 10px 0 3px;
    &.required:after {
      content: '*';
      color: #c00;
      margin-left: 2px;
    }
  }

  input[type="text"], textarea, .recipe-categories__control {
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  input[type="text"], textarea {
    padding: 5px 10px;
  }
  input[type="text"], textarea, .recipe-categories {
    margin-bottom: 10px;
    transition: width 0.3s ease-in-out;
  }
  textarea.collapsed {
    display: none;
  }
  textarea#recipeUrls {
    height: 85px;
  }
  textarea#description, #recipePhotos {
    height: 60px;
  }
  textarea#ingredients, #directions {
    height: 110px;
  }
  textarea#recipeUrls #recipePhotos {
    white-space: nowrap;
  }

  .form-input {
    transition: all 0.3s ease-in-out;
  }

  &.display-mode {
    > label {
      cursor: default;
    }
    > .form-input {
      border-color: transparent;
      cursor: default;
      opacity: 1;
      background: transparent;
      resize: none;
    }
    textarea#description, #recipePhotos,
    textarea#ingredients, #directions,
    textarea#recipeUrls #recipePhotos {
      height: auto;
    }
    .collapse-icon {
      visibility: hidden;
    }
  }

  .recipe-button-bar {
    display: flex;
    align-items: stretch;
    button {
      margin-right: 10px;
      min-width: 80px;
    }
  }

}