
.recipe-list-container {
  padding: 5px;
}

.recipe-list-container > h2 {
  padding-left: 10px;
}

.recipe-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: stretch;
  align-items: flex-start;
}

.recipe-list-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 200px;
  max-width: 500px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  border-radius: 4px;
  background: #f6f9fb;
  margin: 15px;
}

.recipe-list-item:nth-child(2n) {
  background: #fbf9f6;
}

a.recipe-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  text-decoration: none;
  color: #345;
}
a.recipe-item:hover {
  text-decoration: none;
  background: #fffdee;
  box-shadow: 2px 2px 5px rgba(255,230,210,0.5);
}

.recipe-image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 200px;
}

.recipe-image.recipe-icon {
  width: 128px;
  height: 128px;
  margin-right: 0;
  filter: grayscale(50%);
}
a.recipe-item:hover .recipe-image.recipe-icon {
  filter: none;
}

.recipe-image {
  width: 128px;
  height: 128px;
  margin-right: 0;
  opacity: 0.8;
}
a.recipe-item:hover .recipe-image {
  opacity: 1;
}

.recipe-image.recipe-photo {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.recipe-item-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.recipe-item-text .recipe-name {
  flex-basis: 100%;
}
.recipe-item-text .recipe-rating {
  flex-basis: 50%;
}
.recipe-item-text .recipe-date {
  flex-basis: 50%;
}
.recipe-item-text .recipe-desc {
  flex-basis: 100%;
}

.recipe-name {
  font-weight: bold;
  font-size: 20px;
  color: #282c34;
}

.recipe-date {
  color: #888;
  font-size: 12px;
  font-weight: normal;
}

.recipe-desc {
  color: #444;
  font-size: 14px;
  font-weight: normal;
  min-height: 22px
}

.recipe-list-item h5 {
  font-size: 16px;
  margin-top: 10px;
}
