body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.right {
  text-align: right;
}

.recipes-app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.recipes-header {
  display: flex;
  align-items: center;
}

.recipes-nav {
  flex: 1;
}

.recipe-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
